@model IEnumerable<CodeAndCuisine.Web.Models.ProductDto>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-bg-success">Products List</h1>


<form>

    <div class="container row">

        @foreach (var product in Model)
        {
            <div class="col-12 col-md-6 col-lg-4">

                    <div class="card p-0 my-3" style="width: 18rem;">
                        <div class="card-title bg-success text-50 text-center py-2">
                            @product.Name
                        </div>
                        <img src="@product.ImageUrl" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="d-flex justify-content-between py-2">
                                <span class="text-danger" style="font-size:20px">@product.Price.ToString("c") </span>
                                <span class="badge bg-warning text-dark p-2">@product.CategoryName </span>
                            </div>
                            <p class="card-text">@product.Description</p>
                            <div class="row">
                                <div class="col">

                                    <a asp-action="Details" asp-route-productId="@product.ProductId" class="btn btn-success form-control">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

        }

    </div>
</form>